<!-- Footer -->
<footer class="text-center text-lg-start text-white"
    style="background-image: linear-gradient(to right top, #d90429, #e11d35, #e82d41, #ef394c, #f64558, #f64558, #f64558, #f64558, #ef394c, #e82d41, #e11d35, #d90429); padding-left: 90px; margin-top: 200px;">
    <!-- Grid container -->
    <div class="container footer-container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        Watermelon
                    </h6>
                    <p><a href="">About us</a></p>
                    <p><a href="">Team</a></p>
                    <p><a href="">FAQs</a></p>
                    <p><a href="">Watermelon blog</a></p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        Legal
                    </h6>
                    <p>
                        <a class="text-white">Terms & Conditions</a>
                    </p>
                    <p>
                        <a class="text-white">Refund & Cancellation</a>
                    </p>
                    <p>
                        <a class="text-white">Privacy Policy</a>
                    </p>
                    <p>
                        <a class="text-white">Cookie Policy</a>
                    </p>
                    <p>
                        <a class="text-white">Offer Terms</a>
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><a href="">Help & Support</a></p>
                    <p><i class="fa-regular fa-building"></i> Calicut, KL10012, IND</p>
                    <p><i class="fas fa-envelope mr-3"></i> Watermelon@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">We deliver to</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Kochi</p>
                            <p>Calicut</p>
                            <p>Thiruvanathapuram</p>
                            <p>Palakkad</p>
                            <p>Malappuram</p>
                            <p>Alappuzha</p>
                            <p>Idukki</p>
                            
                        </div>
                        <div class="col-md-6">
                            <h6 style="font-weight: 400; font-size: 12px;"><u> Other cities</u> </h6>
                            <p>Bengaluru</p>
                            <p>Mumbai</p>
                            <p>Chennai</p>
                            <p>Hyderabad</p>
                            <p>Delhi</p>
                            <p>Mangaluru</p>
                        </div>
                    </div>

                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3">

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <!-- Copyright -->
                    <div class="p-3" style="font-size: 14px;">
                        © 2020 Copyright:
                        <a class="text-white" href="#">Watermelon.com</a>
                    </div>
                    <!-- Copyright -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                            class="fab fa-facebook-f mt-1"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                            class="fab fa-twitter mt-1"></i></a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                            class="fab fa-google mt-1"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                            class="fab fa-instagram mt-1"></i></a>
                </div>
                <!-- Grid column -->
            </div>
        </section>
        <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
</footer>
<!-- Footer -->

<style>
    .footer-container a {
        text-decoration: none;
        color: white;
    }
    .footer-container a:hover{
        font-weight: 500;
    }

    .footer-container h6 {
        overflow: hidden;
        opacity: 60%;
        font-weight: 500;
    }

    .footer-container p {
        font-size: 12px;
        font-weight: 400;
    }
</style>