<section id="cart-empty-section">
       <div class="container-fluid cart-empty-container">

           <img src="images/empty-cart.png" class="img-fluid" alt="" width="760px" height="auto">
                <h4>Cart is empty</h4>  
    </div> 
</section>