
<section>
    <div class="container-fluid" style="padding-left: 90px;">
    <div class="main-container-for-order-success">
        <div class="check-container">
            <div class="check-background">
                <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="check-shadow"></div>
        </div>
        <h4 class="fade-in-content">Order Placed Successfully!</h4>
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
            <a href="/view-orders" class="btn btn-success" style="font-size: 12px; margin-right: 10px;">View Orders</a>
            <a href="/" class="btn btn-danger" style="font-size: 12px;">return home</a>
        </div>
    </div>
    </div>
</section>